.navigation {
    margin-left: 17px;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    border: 5px solid #662505;
    position: fixed; 
    left: 0; 
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#FAEFE2;
}

.logowname {
    width: 280px;
    margin-bottom: 20px;
}

.image-container {
    position: relative;
    width: 300px; 
    height: 300px; 
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: opacity 0.1s ease; 
}

.image-container:hover img {
    opacity: 50; 
}

.image-container .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 0.3s; 
}

.image-container:hover .overlay-image {
    opacity: 1; 
}

/*button navigation*/
.button-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.nav-button {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    background-color: #FAEFE2;
    border: none; 
    color: #662505;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    text-decoration: none; 
    display: inline-block; 
    text-align: center; 
}

/* Nav button for add to cart*/
.nav-button.addtocart {
  margin-top:200px;
  color: #FAEFE2;
  background-color: #662505;
}

.nav-button.addtocart:hover {
  background-color: #FAEFE2;
  color: #662505;
}


.nav-button.order-now {
    margin-top:200px;
    color: #FAEFE2;
    background-color: #662505;
}

.nav-button.order-now:hover {
    background-color: #FAEFE2;
    color: #662505;
}

.nav-button:hover {
    transform: scale(1.1);
    background-color: #662505;
    color: #FAEFE2;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #662505;
}
.topborder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #662505;
}

/*for upper right icons*/
.image-wrapper {
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
}

.image-wrapper a {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
}

.image-wrapper a:hover img {
    opacity: 0.8;
}

/* SLIDESHOW AUTO */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: right;}


.gif-container{
    margin-left:375px;
    position:fixed;


}


/* Caption text LOREM EPSUM description best selling */ 

pre {
  color: #f2f2f2;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 15px 18px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}
/*title*/
.pastry {
  color: #FAEFE2;
  font-size: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 120px 120px 190px 30px;
  position:absolute;
  bottom: 8px;
  width: 100%;
  text-align:left;
}

.home-desc{
    text-justify:justify;
    padding-left:5px;
   
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #edbf8b;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* dot slide*/
.active {
  background-color: #6d4b0b;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.mySlides {display: none;}

.slideshow-container {
    max-width: 1250px;
    position: staticzz;
    margin-top: 15px;
    margin-left: 300px;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@media only screen and (max-width: 300px) {
    .text {font-size: 8px}
}

.titlepage {
    margin-left: 390px;
    margin-bottom: 0; 
    padding-bottom: 0; 
}

h1 {
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #662505;
    margin-top: 8px; 
    margin-bottom: 0;
    position:sticky; 
}

 div.gallery {
    border: 0px solid #ccc;
  }

  
  div.gallery img {
    width: 100%;
    height: auto;
    border: 5px solid #662505;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    
    padding: 0px 30px 30px;
    float: right;
    width: 490px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  

/*HELP SECTION */
  h4 {
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #662505;
    margin-top: 8px; 
    margin-bottom: 0;
    position:absolute; 
}

.collapsible {
    background-color: #662505;
    color: rgb(200, 169, 169);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #662505;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f2e0cb;
  }

  .faqs {
    margin-left: 390px;
    margin-top:100px;
  }


.imgdev-container {
  float: right;
  width:25%;
  padding: 0px;
  margin-right:200px;
}

.contentdev {
  font-size: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #662505;
  text-align:justify;
  margin-left: 600px;
  margin-right: 200px;
  margin-top: 50px;
  text-indent: 80px;
}

.devname{
  font-size: 45px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #662505;
  text-align:center;
  margin-left:390px;
}

/* CART*/
.cart {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #fff;
}

#cart-count {
  position: absolute;
  top: -28px;
  left: 20px;
}


.products {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.product-img {
  width: 160px;
  height: 200px;
}

#product-title {
  font-size: 22px;
}

#product-title:hover {
  color: royalblue;
}

.details {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .price {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

#price {
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #662505;
  text-align: left;
 
}

#btn-cart {
  width: 150px;
  background: #662505;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;

}




